name: test
on:
    pull_request:
    push:
        branches:
            - main
        tags:
            - v*
    schedule:
        - cron: "0 * * * *"

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - run: sleep 5
    workflow-run-history:
        name: Workflow
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
            - uses: ./
              id: summarizeHistory
              timeout-minutes: 2
            - run: echo "$HISTORY_OUTPUTS"
              env:
                  HISTORY_OUTPUTS: ${{ toJSON(steps.summarizeHistory.outputs) }}
